* {
  margin: 0px;
  box-sizing: border-box;
}

/* appearance */
body {
  background-color: black;
  color: rgb(216, 216, 0);
  font-size: 1.2rem;  
}

/* top-level layout */
body {
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main";
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.brace {
  border: 1px dashed white;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid yellow;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid yellow;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h160 {
  width: 160px;
}

.v100 {
  height: 100px;
}
